<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  </head>
  <form #signupformulaire="ngForm" class="p-3">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <label class="form-label" for="nom">Nom</label>
          <input type="text" id="nom" name="nom" class="form-control" required string ngModel #nom="ngModel" />
        </div>
      </div>
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <label class="form-label" for="prenom">Prenom</label>
          <input type="text" id="prenom" name="prenom" class="form-control" required string ngModel #prenom="ngModel" />
        </div>
      </div>
    </div>
  
    <!-- 2 column grid layout with text inputs for the age and dateDeNaissance date -->
    <div class="row mb-4">
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <label class="form-label" for="age">Age</label>
          <input type="string" id="age" name="age" class="form-control" required string ngModel #age="ngModel" [class.is-invalid]="age.invalid && age.touched" min="0"/>
          <div class="invalid-feedback" *ngIf="(age.invalid && age.touched)">
            Veuillez saisir un age valide.
          </div>
        </div>
        </div>
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <label class="form-label" for="dateDeNaissance">Date Of dateDeNaissance</label>
          <input type="date" id="dateDeNaissance" name="dateDeNaissance" class="form-control" required date ngModel #dateDeNaissance="ngModel" [class.is-invalid]="dateDeNaissance.invalid && dateDeNaissance.touched" />
          <div class="invalid-feedback" *ngIf="(dateDeNaissance.invalid && dateDeNaissance.touched)">
            Veuillez saisir une date valide.
          </div>
        </div>
      </div>
    </div>
  
    <!-- CIN input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="cin">CIN</label>
        <input type="string" id="cin" name="cin" class="form-control" required string ngModel #cinmodel="ngModel" minlength="8" maxlength="8" [class.is-invalid]="cinmodel.invalid && cinmodel.touched" />
        <div class="invalid-feedback" *ngIf="(cinmodel.invalid && cinmodel.touched)">
          Veuillez saisir un cin valide de longueur 8 caractères
        </div>

    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="email">Email address</label>
      <input type="email" id="email" name="email" class="form-control" required email ngModel #email="ngModel" [class.is-invalid]="email.invalid && email.touched" />
      <div class="invalid-feedback" *ngIf="(email.invalid && email.touched)">
        Veuillez saisir un email valide.
      </div>
    
    </div>
  
    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="password">Password</label>
      <input type="password" id="password" class="form-control" required minlength="6" ngModel name="password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched"/>
      <div class="invalid-feedback" *ngIf="(password.invalid && password.touched)">
        Votre mot de passe doit avoir au moins 6 caractères.
      </div>
    </div>
  
    <!-- Checkbox -->
    <div class="form-check d-flex justify-content-center mb-4">
      <input class="form-check-input me-2" type="checkbox" id="patient" checked required ngModel  #rolemodel="ngModel" [class.is-invalid]="rolemodel.invalid"/>
      <label class="form-check-label" for="patient">
        I am a patient
      </label>
      <div *ngIf="rolemodel.invalid" class="invalid-feedback">
          <div *ngIf="rolemodel.errors?.['required']">You must confirm that you are a patient.</div>
        </div>
    </div>
  
    <!-- Submit button -->
    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
    <button data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4" [disabled]="signupformulaire.invalid" (click)="signup(signupformulaire.value)">Sign up</button>
    </div>

    <!-- Register buttons -->
    <div class="text-center">
      <p>or sign up with:</p>
      <button data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
        <i class="fab fa-facebook-f"></i>
      </button>
  
      <button data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
        <i class="fab fa-google"></i>
      </button>
  
      <button data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
        <i class="fab fa-twitter"></i>
      </button>
  
      <button data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
        <i class="fab fa-github"></i>
      </button>
    </div>

  