<div *ngIf="medecin" class="card-container">
    <div class="card">
      <div class="front">
        <div class="cover">
          <img src="assets/images/rotating_card_thumb2.png" />
        </div>
        <div class="user">
          <img class="img-circle" src="assets/images/{{medecin.path|defaultImage}}" />
        </div>
        <div class="content">
          <div class="main">
            <h2 class="name">Dr.{{ medecin.nom }} {{ medecin.prenom }}</h2>
            <h3 class="name">Specialite: {{ medecin.specialite }} </h3>
          </div>
          <div class="footer">
            <i class="fa fa-mail-forward"></i> Auto Rotation
          </div>
        </div>
      </div>
      <div class="back">
        <div class="header">
        </div>
        <div class="footer">
          <button class="btn btn-primary" (click)="Delete()">Supprimer</button>
        </div>
      </div>
    </div>
  </div>

