
<form #modifyForm="ngForm" (ngSubmit)="submitForm(modifyForm.value)">
    <div class="form-group">
      <label for="age">Age</label>
      <input type="text" id="age" name="age" class="form-control" [(ngModel)]="patient.age" required>
    </div>
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" id="nom" name="nom" class="form-control" [(ngModel)]="patient.nom" required>
    </div>
    <div class="form-group">
      <label for="prenom">Prénom</label>
      <input type="text" id="prenom" name="prenom" class="form-control" [(ngModel)]="patient.prenom" required>
    </div>
    <div class="form-group">
      <label for="cin">CIN</label>
      <input type="text" id="cin" name="cin" class="form-control" [(ngModel)]="patient.cin" required>
    </div>
    <div class="form-group">
      <label for="dateDeNaissance">Date de Naissance</label>
      <input type="date" id="dateDeNaissance" name="dateDeNaissance" class="form-control" [(ngModel)]="patient.dateDeNaissance" required >
    </div>
    <button type="submit" class="btn btn-primary">Modifier Patient</button>
  </form>