<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a
        class="navbar-brand"
        *ngIf="authService.isAuthenticated()"
       (click)="goToDashboard()"
        >Dashboard</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="[''] navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        
          <a
            class="nav-link"
            *ngIf="!authService.isAuthenticated()"
            aria-current="page"
            routerLinkActive="active text-primary"
            [routerLink]="['signup']"
            >signup</a
          >
          <a
          class="nav-link"
          *ngIf="!authService.isAuthenticated()"
          aria-current="page"
          routerLinkActive="active text-primary"
          [routerLink]="['login']"
          >login</a
        >
        <a
        class="nav-link"
        *ngIf="authService.isAuthenticated()&& isMedecin()"
        routerLinkActive="active text-primary"
        [routerLink]="['Consultation']"
        aria-current="page"
        >Consultation</a
      >
      <a
      class="nav-link"
      *ngIf="authService.isAuthenticated()&& isAdmin()"
      routerLinkActive="active text-primary"
      [routerLink]="['patients']"
      aria-current="page"
      >Patients</a
    >
      <a
      class="nav-link"
      *ngIf="authService.isAuthenticated()&& isAdmin()"
      routerLinkActive="active text-primary"
      [routerLink]="['medecins']"
      aria-current="page"
      >Medecins</a
    >
    <a
    class="nav-link"
    *ngIf="authService.isAuthenticated()&& isAdmin()"
    routerLinkActive="active text-primary"
    [routerLink]="['addMedecin']"
    aria-current="page"
    >Ajouter Medecin</a
  >

    
      <a class="nav-link" aria-current="page" *ngIf="authService.isAuthenticated()" (click)="logout()" >Logout</a>
        </div>
      </div>
    </div>
  </nav>